[Desktop Entry]
Name=Background apps widget
Comment=
Type=Service
Icon=preferences-system
X-KDE-PluginInfo-Author=Your Name
X-KDE-PluginInfo-Email=your@email.com
X-KDE-PluginInfo-Name=org.yourdomain.coolwidget
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/Jozhin-s-Bazhin/background-apps-widget
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
